<ion-view view-title="案例展示">
<ion-nav-bar  class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button  class="button  button-clear " menu-toggle="left" ng-click="fanhui()">
            返回
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-content>

    <div class="list-inset" style="margin-top:5%;border: 1px" >
        <div class="item" style="text-align: center">预约卡</div>
        <div class="item"> 您好！{{Appoin.name}}</div>
        <div class="item">您点电话号码：{{Appoin.phone}}</div>
        <div class="item">您预约点时间：{{Appoin.time}}</div>
        <div class="item">您选择点服务事：{{Appoin.select}}</div>
    </div>




    </ion-content>

    </ion-view>