<ion-view view-title="主页" class="bar-dark">
  <ion-content class="sa">
    <div class="da">




        <div class="second9">
          <ion-slide-box does-continue="true" show-pager="true" auto-play="true">
            <ion-slide>
              <div>
                <img src="img/c.jpg" class="other-img">
              </div>
            </ion-slide>
            <ion-slide>
              <div >
                <img src="img/car2.jpg" class="other-img">
              </div>
            </ion-slide>
            <ion-slide>
              <div >
                <img src="img/car3.jpg" class="other-img">
              </div>
            </ion-slide>
          </ion-slide-box>
      </div>



          <div class="second1" ng-click="goto()">
            <b><img src="img/home.png" class="ll" /></b>
           <span class="ll1">商家介绍</span>
          </div>
          <div class="second2" ng-click="goto1()">
            <b><img src="img/products.png" class="ll2"></b>
            <span class="ll22">产品展示</span>
          </div>
          <div class="second3" ng-click="goto2()">
            <b><img src="img/orders.png" class="ll3"></b>
            <span class="ll33">在线预约</span>
          </div>



          <div class="second4" ng-click="goto3()">
            <b><img src="img/calculator.png" class="ll4"></b>
            <span class="ll44">优惠活动</span>
          </div>
          <div class="second5" ng-click="goto4()">
            <b><img src="img/weizhi.png" class="ll5"></b>
            <span class="ll55">导航服务</span>
          </div>
      <div class="second6" ng-click="goto5()">
        <b><img src="img/others.png" class="ll5"></b>
        <span class="ll55">案例展示</span>
      </div>
      <div class="second7" ng-click="goto6()">
        <b><img src="img/employee.png" class="ll5"></b>
        <span class="ll55">留言</span>
      </div>
            <div class="second8">
              <a  ng-href="tel:674126" style="text-decoration:none; color: black">
                <b><img src="img/call.png" class="ll8"></b>
                <span class="ll88">联系我们</span>
              </a>
            </div>

      <div class="second7" ng-click="goto7()">
        <b><img src="img/employee.png" class="ll5"></b>
        <span class="ll55">预约查询</span>



    </div>



</div>


  </ion-content>
</ion-view>
